@import "tailwindcss";

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@font-face {
  font-family: 'one';
  src: url('./assets/fonts/mafle.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'two';
  src: url('./assets/fonts/nature.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}



.loader {
  position: fixed;
  inset: 0;
  background: black;
  display: flex;
  align-items: end;
  justify-content: start;
  z-index: 50;
  padding: 5px;
}

.group span {
  transform-origin: right;
}

.group:hover span {
  transform-origin: left;
}
